email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YYWRtaW46ZGV2b3Bz
registry.npmjs.org/:_auth=YWRtaW46YXNoaXNo
registry=http://18.61.75.130:8081/
18.61.75.130:8081/:_auth=YWRtaW46YXNoaXNo
allowRepublish=true
