email=ashish@gmail.com
#always-auth=true
#_auth=YWRtaW46YXNoaXNo
registry.npmjs.org/:_auth=YWRtaW46YXNoaXNo
http://18.61.183.71:8081/repository/npm-latest-test/:_auth=YWRtaW46YXNoaXNo
allowRepublish=true

