email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46YXNoaXNo
registry.npmjs.org/:_auth=YWRtaW46YXNoaXNo
18.61.3.67:8081/repository/nodejs-app-repo/:_auth=YWRtaW46YXNoaXNo
allowRepublish=true

